<header>
  <div id="header" class="header  hasPrimaryHeader  hasSecondaryHeader">
    <div id="primaryHeader" class="primaryHeader">
      <div class="tlc cid-1_77257 no-categories block figure defaultTheme mainLogo" lang="sv-SE">
        <div class="imageWrapper">
          <a href="/"><img src="https://www.kth.se/polopoly_fs/1.77257!/KTH_Logotyp_RGB_2013-2.svg" alt="KTH:s logotyp" height="70" width="70"></a>
        </div>
      </div>
      <div class="blockItemSeparator blockItemSeparatorIndex0">
        <span class="blockItemSeparatorInner"></span>
      </div>
      <div class="tlc cid-1_456880 no-categories block search <c:out value='' /> <c:out value='' />" lang="sv-SE"></div>
      <div class="blockItemSeparator blockItemSeparatorIndex1">
          <span class="blockItemSeparatorInner"></span>
      </div>
      <div id="secondaryHeader" class="secondaryHeader">
          <div class="tlc cid-1_260303 no-categories block siteName">
              <a href="/kthb">KTH Biblioteket</a>
          </div>
          <div class="blockItemSeparator blockItemSeparatorIndex0"><span class="blockItemSeparatorInner"></span></div>
          <span class="tlc cid-1_260304 no-categories block link  localeLink en-UK" lang="sv-SE"><a href="https://www.kth.se/en/kthb" hreflang="en-UK" class="localeLink en-UK">KTH Library in English</a></span>
      </div>
    </div>
  </div>
</header>
<hr id="headerHr">
<article>
<h1>{{formheader}}</h1>
<!--div class="form">
  <div style="text-align:center">
    <h1>
      Registration Form
    </h1>
  </div>
  <dynamic-form [fields]="regConfig" (submit)="submit($event)">
  </dynamic-form>
  <div class="margin-top">
    {{ form.value | json }}
  </div>
</div-->
<dynamic-form2 [dataObject]="person"></dynamic-form2>

<!--div id="form_body">
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label>
    First Name:
    <input class="form-control medium" type="text" formControlName="firstName" required>
  </label>

  <label>
    Last Name:
    <input class="form-control medium" type="text" formControlName="lastName" required>
  </label>

  <label>
    Email:
    <input class="form-control medium" type="text" formControlName="email" required>
  </label>

  <label>
    Password:
    <input class="form-control medium" type="text" formControlName="password" required>
  </label>

  <div formGroupName="address">
    <h3>Address</h3>
  
    <label>
      Street:
      <input class="form-control medium" type="text" formControlName="street">
    </label>
  
    <label>
      City:
      <input class="form-control medium" type="text" formControlName="city">
    </label>
    
    <label>
      State:
      <input class="form-control medium" type="text" formControlName="state">
    </label>

    <label>
      Zip Code:
      <input class="form-control medium" type="text" formControlName="zip">
    </label>
  </div>
</form>
<div class="controls">
  <button type="button" class="button" [disabled]="!profileForm.valid">Skicka</button>
</div>
  <p>
  Form Value: {{ profileForm.value | json }}
</p>
<p>
  Form Status: {{ profileForm.status }}
</p>

</div-->
<!-- Default form contact -->
</article>