<!--header>
  <div id="header" class="header  hasPrimaryHeader  hasSecondaryHeader">
    <div id="primaryHeader" class="primaryHeader">
      <div class="tlc cid-1_77257 no-categories block figure defaultTheme mainLogo" lang="sv-SE">
        <div class="imageWrapper">
          <a href="/"><img src="https://www.kth.se/polopoly_fs/1.77257!/KTH_Logotyp_RGB_2013-2.svg" alt="KTH:s logotyp" height="70" width="70"></a>
        </div>
      </div>
      <div class="blockItemSeparator blockItemSeparatorIndex0">
        <span class="blockItemSeparatorInner"></span>
      </div>
      <div class="tlc cid-1_456880 no-categories block search" lang="sv-SE"></div>
      <div class="blockItemSeparator blockItemSeparatorIndex1">
          <span class="blockItemSeparatorInner"></span>
      </div>
      <div id="secondaryHeader" class="secondaryHeader">
          <div class="tlc cid-1_260303 no-categories block siteName">
              <a href="/kthb">KTH Biblioteket</a>
          </div>
          <div class="blockItemSeparator blockItemSeparatorIndex0"><span class="blockItemSeparatorInner"></span></div>
          <span class="tlc cid-1_260304 no-categories block link  localeLink en-UK" lang="sv-SE"><a href="https://www.kth.se/en/kthb" hreflang="en-UK" class="localeLink en-UK">KTH Library in English</a></span>
      </div>
    </div>
  </div>
</header-->
<!--hr id="headerHr"-->
<!--article-->
  <h1>{{language=='swedish' ? header.swedish : header.english}}</h1>
  <div>{{language=='swedish' ? description.swedish : description.english}}</div>
  <dynamic-form [language]="language" [dataObject]="formfields"></dynamic-form>
<!--/article-->