input[type=submit] {
    width: unset;
    float: right;
  }
  
.error { 
    color: red;
    font-size: 0.8rem;
}

.btn-success[disabled]:hover {
    cursor: not-allowed;
}

.isgrouped {
    margin-top: 0px;
    font-weight: normal;
}

.isnotgrouped {
    margin-top: 0px;
    font-weight: bold;
}