input[type=submit] {
    width: unset;
  }
  
.error { 
    color: red;
    font-size: 0.8rem;
}

.btn-success[disabled]:hover {
    cursor: not-allowed;
}

.isgrouped {
    margin-top: 0px;
    font-weight: normal;
}

.isnotgrouped {
    margin-top: 0px;
    font-weight: bold;
}

.openurlbox {
    padding-bottom: 10px;
}

.btn-label {position: relative;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}
.btn { margin-bottom:10px; }
.fileremovebtn { padding: 0px 10px 0px 0px; }
.fileremovebtnname { padding-left: 10px; }
.filechoosebtn {
    background-color: #007fae;
    border-color: #007fae;
    color: #fff;
    border-radius: .25rem;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: .5rem 1.5rem;
    border: 1px solid;
    line-height: normal;
}
.nallepuh {
    display: none;
}

button.calendar,
button.calendar:active {
    margin-bottom: 0px !important;
	width: 2.75rem;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
	background-repeat: no-repeat;
	background-size: 23px;
	background-position: center;
}